PGPORT=5444
PGUSER=postgres
PGDATABASE=postgres
PGDATA=/postgresql14/bbddpostgresql
PGWAL=/postgresql14/xlogs

PGPOOL_HOST=pgpool-vip.example.com
PGPOOL_PORT=9999
PGPOOL_USER=usr_pg_pool
PCP_HOST=localhost
PCP_PORT=9898
PCP_USER=pgpool

PRIMARY_NODE_1=postgres-primary-01.example.com
PRIMARY_NODE_2=postgres-primary-02.example.com
DR_NODE=postgres-dr-01.example.com

REPLICATION_USER=usr_replication
SYNC_SLOT=replica_sync
DR_SLOT=replica_dr

POSTGRES_SERVICE=postgresql-14.service
PGPOOL_SERVICE=pgpool-II.service
